// Global configurations
dag.overwrite = true

// Include other configuration files
includeConfig 'profiles.config'        // Profile configurations
includeConfig 'processes_ref_main.config'   // Reference-specific process configurations
includeConfig 'params_test.config'          // Shared parameters
