params {
    // ========================== Actual Mode ==========================//
    mode = 'actual' // Specifies that the pipeline is in actual mode

    // ========================== Base Directories ==========================//
    base_dir = "$baseDir"
    data_dir = "$baseDir/data"
    actual_data_dir = "$data_dir/actual" 
    cache_dir = "$baseDir/cache"
    outdir = "$baseDir/output"
    scripts_dir = "$baseDir/scripts"

    // ========================== Dataset Inputs ==========================//
    actual_csv_file = "${actual_data_dir}/samples_actual.csv"

    // ========================== Reference Files ==========================//
	//referece_genome paths
    genome_path = "/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/test/reference/genome.fa"
    genome_download_url = "ftp://ftp.ensembl.org/pub/current_fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.chromosome.22.fa.gz"
	
	// Variant SNP paths
    variants_snp_path = "/home/kothai/cq-git-sample/vc_and_gf/data/test/reference/variants_snp.vcf.gz"
    variants_snp_download_url = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/dbsnp_146.hg38.vcf.gz"
	
    // Variants Indels paths
    variants_indels_path = "/home/kothai/cq-git-sample/vc_and_gf/data/test/reference/variants_indels.vcf.gz"
    variants_indels_download_url = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/mills_and_1000G.indels.vcf.gz"
    
	// GTF annotation paths
    gtf_path = "/home/kothai/cq-git-sample/vc_and_gf/data/test/reference/annotations.gtf"
    gtf_download_url = "https://github.com/kothaiRaja/data_sample/raw/refs/heads/main/grch38/annotations.gtf"
	
	// Deny List BED paths
    denylist_path = "/home/kothai/cq-git-sample/vc_and_gf/data/test/reference/denylist.bed"
    denylist_download_url = "https://github.com/kothaiRaja/data_sample/raw/refs/heads/main/grch38/denylist_chr22_to_22.bed"
    
    
	
	//==========================Reference Files Location====================//
	ref_genome = "${actual_data_dir}/reference/genome.fa"
	ref_variants_snp = "${actual_data_dir}/reference/variants_snp.vcf.gz"
	ref_variants_indels = "/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/variants_indels.vcf.gz"
	ref_gtf = "/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/annotation.gtf.gz"
	ref_denylist = "/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/denylist.bed.gz"

    // ========================== Download URLs for Actual Data ==========================//
    actual_data_gtf = "ftp://ftp.ensembl.org/pub/release-109/gtf/homo_sapiens/Homo_sapiens.GRCh38.109.gtf.gz"
    actual_data_known_indels = "ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    actual_data_dbsnp = "ftp://ftp.ncbi.nih.gov/snp/latest_release/VCF/GCF_000001405.40.gz"
    actual_data_denylist = "https://github.com/Boyle-Lab/Blacklist/raw/master/lists/hg38-blacklist.v2.bed.gz"

    // ========================== Tool Paths ==========================//
    genomedb = 'GRCh38.86' // Genome version for SnpEff database
    snpeff_db_dir = './snpEff/data'                                     // Directory for SnpEff databases
    snpeff_jar_dir = './snpEff'                                         // Directory for the SnpEff tool
    snpeff_config = '/mnt/snpEff/snpEff.config'
    scatter_count = 3 // Number of parallel tasks
    vep_cache = "${actual_data_dir}/vep_cache"
    clinvar = "${actual_data_dir}/VEP/clinvar.vcf.gz"
    clinvar_tbi = "${actual_data_dir}/VEP/clinvar.vcf.gz.tbi"

    // ========================== Variant Filtering Parameters ==========================//
    gatk_vf_window_size = 35
    gatk_vf_cluster_size = 3
    gatk_vf_qual_filter = 20.0
    gatk_vf_qd_filter = 1.5
    gatk_vf_fs_filter = 60.0
    gatk_vf_mq_filter = 30.0
    gatk_vf_sor_filter = 4.0
    gatk_vf_read_pos_filter = -5.0
    gatk_vf_baseq_filter = -3.0

    // ========================== Additional Parameters ==========================//
    scatter_count = 3 // Number of parallel tasks
    container = "./vcfpy_pandas.sif"
}
