// ========================== nextflow.config ========================== //

// Define the base directory dynamically, where the pipeline is run
baseDir = System.getProperty('user.dir')


params {
        // ========================== Base Directories ==========================//
    base_dir = "$baseDir"
    data_dir = "$baseDir/data"
    actual_data_dir = "$data_dir/actual" 
    cache_dir = "$baseDir/cache"
    outdir = "$baseDir/output"
    scripts_dir = "$baseDir/scripts"
	reference_dir = "${params.actual_data_dir}/reference"
	generated_config_file = "${params.base_dir}/reference_paths.config"
	genome_build = 'GRCh38'


    // ========================== Dataset Inputs ==========================//
    sample_csv_file = "${actual_data_dir}/samples_actual.csv"

    // ========================== Reference Files ==========================//
	reference_genome_path = "/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/test/reference/genome.fa"
    genome_download_url = "ftp://ftp.ensembl.org/pub/current_fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.chromosome.22.fa.gz"

    reference_genome_index_path = ""
    genome_index_download_url = ""

    reference_genome_dict_path = ""
   
	star_genome_index_path = ""
	
	gtf_download_url = "https://github.com/kothaiRaja/data_sample/raw/refs/heads/main/grch38/annotations.gtf"
	reference_genome_gtf = "/home/kothai/cq-git-sample/vc_and_gf/data/test/reference/annotations.gtf"
	
	reference_denylist_path = "/home/kothai/cq-git-sample/vc_and_gf/data/test/reference/denylist.bed"
    denylist_download_url = "https://github.com/kothaiRaja/data_sample/raw/refs/heads/main/grch38/denylist_chr22_to_22.bed"
	
    variants_snp_path = "${params.reference_dir}/variants_snp.vcf.gz"
    variants_snp_download_url = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/dbsnp_146.hg38.vcf.gz"
	
	variants_snp_index_path = ""
	variants_snp_index_download_url = ""
	
	variants_indels_path = "/home/kothai/cq-git-sample/vc_and_gf/data/test/reference/variants_indels.vcf.gz"
	variants_indels_download_url = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/mills_and_1000G.indels.vcf.gz"
	
	variants_indels_index_path = ""
    variants_indels_index_download_url = ""
	
	snpeff_jar_dir = '/home/kothai/cq-git-sample/vc_and_gf/data/test/Tools/snpEff'
    snpeff_jar_path = "${params.snpeff_jar_dir}/snpEff.jar"
    snpeff_config_path = "${params.snpeff_jar_dir}/snpEff.config"
	snpeff_db_dir_path = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/test/snpEff/data'
	
	arriba_tool_dir_path = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/test/ARRIBA/arriba_v2.4.0' 
	
	vep_cache_dir_path = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/test/vep_cache/homo_sapiens/110_GRCh38'
	
	params.clinvar_path = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/test/VEP/clinvar.vcf.gz'
	params.clinvartbi_path = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/test/VEP/clinvar.vcf.gz.tbi'

    // ========================== Download URLs for Actual Data ==========================//
    actual_data_gtf = "ftp://ftp.ensembl.org/pub/release-109/gtf/homo_sapiens/Homo_sapiens.GRCh38.109.gtf.gz"
    actual_data_known_indels = "ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    actual_data_dbsnp = "ftp://ftp.ncbi.nih.gov/snp/latest_release/VCF/GCF_000001405.40.gz"
    actual_data_denylist = "https://github.com/Boyle-Lab/Blacklist/raw/master/lists/hg38-blacklist.v2.bed.gz"

    // ========================== Tool Paths ==========================//
    genomedb = 'GRCh38.86' // Genome version for SnpEff database
    snpeff_db_dir = './snpEff/data'                                     // Directory for SnpEff databases
    snpeff_jar_dir = './snpEff'                                         // Directory for the SnpEff tool
    snpeff_config = '/mnt/snpEff/snpEff.config'
    scatter_count = 3 // Number of parallel tasks
    vep_cache = "${actual_data_dir}/vep_cache"
    clinvar = "${actual_data_dir}/VEP/clinvar.vcf.gz"
    clinvar_tbi = "${actual_data_dir}/VEP/clinvar.vcf.gz.tbi"

    // ========================== Variant Filtering Parameters ==========================//
    gatk_vf_window_size = 35
    gatk_vf_cluster_size = 3
    gatk_vf_qual_filter = 20.0
    gatk_vf_qd_filter = 1.5
    gatk_vf_fs_filter = 60.0
    gatk_vf_mq_filter = 30.0
    gatk_vf_sor_filter = 4.0
    gatk_vf_read_pos_filter = -5.0
    gatk_vf_baseq_filter = -3.0

    // ========================== Additional Parameters ==========================//
    scatter_count = 3 // Number of parallel tasks
    container = "./vcfpy_pandas.sif"
}

