params {
    // ========================== Test Mode ==========================//
    mode = 'test' // Specifies that the pipeline is in test mode

    // ========================== Base Directories ==========================//
    base_dir = "$baseDir"
    data_dir = "$baseDir/data"
    test_data_dir = "$data_dir/test" 
    cache_dir = "$baseDir/cache"
    outdir = "$baseDir/output"
    scripts_dir = "$baseDir/scripts"

    // ========================== Dataset Inputs ==========================//
    test_csv_file = "${test_data_dir}/samples_test.csv"
    

    // ========================== Reference Files ==========================//
    genome = "${test_data_dir}/reference/genome.fa"
    variants_indels = "${test_data_dir}/reference/variants_indels.vcf.gz"
    variants_snps = "${test_data_dir}/reference/variants_snp.vcf.gz"
    denylist = "${test_data_dir}/reference/denylist.bed"
    gtf_file = "${test_data_dir}/reference/annotations.gtf"
    star_index_dir = "${test_data_dir}/STAR_index"
    fasta_index = "${test_data_dir}/reference/genome.fa.fai"
    genome_dict = "${test_data_dir}/reference/genome.dict"
    filtered_vcf = "${test_data_dir}/reference/merged.filtered.recode.vcf.gz"
    filtered_vcf_index = "${test_data_dir}/reference/merged.filtered.recode.vcf.gz.tbi"

    // ========================== Download URLs for Test Data ==========================//
    test_data_genome = "ftp://ftp.ensembl.org/pub/current_fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.chromosome.22.fa.gz"
    test_data_gtf = "https://github.com/kothaiRaja/data_sample/raw/refs/heads/main/grch38/annotations.gtf"
    test_data_known_indels = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/mills_and_1000G.indels.vcf.gz"
    test_data_dbsnp = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/dbsnp_146.hg38.vcf.gz"
    test_data_denylist = "https://github.com/kothaiRaja/data_sample/raw/refs/heads/main/grch38/denylist_chr22_to_22.bed"

    // ========================== Tool Paths ==========================//
	genomedb = 'GRCh38.86' // Genome version for SnpEff database
    snpeff_db_dir = './snpEff/data'                                     // Directory for SnpEff databases
    snpeff_jar_dir = './snpEff'                                         // Directory for the SnpEff tool
	snpeff_config = '/mnt/snpEff/snpEff.config'
    scatter_count = 3 // Number of parallel tasks
    vep_cache = "${test_data_dir}/vep_cache"
    clinvar = "${test_data_dir}/VEP/clinvar.vcf.gz"
    clinvar_tbi = "${test_data_dir}/VEP/clinvar.vcf.gz.tbi"

    // ========================== Variant Filtering Parameters ==========================//
    gatk_vf_window_size = 35
    gatk_vf_cluster_size = 3
    gatk_vf_qual_filter = 20.0
    gatk_vf_qd_filter = 1.5
    gatk_vf_fs_filter = 60.0
    gatk_vf_mq_filter = 30.0
    gatk_vf_sor_filter = 4.0
    gatk_vf_read_pos_filter = -5.0
    gatk_vf_baseq_filter = -3.0

    // ========================== Additional Parameters ==========================//
    scatter_count = 3 // Number of parallel tasks
    container = "./vcfpy_pandas.sif"
    
}
