// General process settings
process {
    executor = 'local'        
    memory = '4 GB'           
    cpus = 2                  
    time = '2h'               
}
process {
    withName: CHECK_OR_DOWNLOAD_REF_GENOME {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }

    withName: CHECK_OR_DOWNLOAD_VARIANTS_SNP {
        cpus = 1
        memory = '2 GB'
        time = '30m'
    }
	
	withName: DOWNLOAD_VARIANTS_SNP_INDEX {
        cpus = 1
        memory = '2 GB'
        time = '30m'
    }
	
	withName: INDEX_SNP_VCF {
        cpus = 1
        memory = '2 GB'
        time = '30m'
    }

    withName: CHECK_OR_DOWNLOAD_VARIANTS_INDELS {
        cpus = 1
        memory = '2 GB'
        time = '30m'
    }
	
	withName: INDEX_INDEL_VCF {
        cpus = 1
        memory = '2 GB'
        time = '30m'
    }
    withName: CHECK_OR_DOWNLOAD_DENYLIST {
        cpus = 1
        memory = '1 GB'
        time = '10m'
    }
	
	withName: CHECK_OR_DOWNLOAD_GTF {
        cpus = 1
        memory = '1 GB'
        time = '10m'
    }

    withName: DOWNLOAD_GENOME_INDEX {
        cpus = 1
        memory = '1 GB'
        time = '10m'
    }
	
	withName: CREATE_GENOME_INDEX {
        cpus = 1
        memory = '1 GB'
        time = '10m'
    }

    withName: CREATE_GENOME_DICT {
        cpus = 1
        memory = '2 GB'
        time = '10m'
    }
	
	withName: CHECK_OR_DOWNLOAD_GTF  {
        cpus = 1
        memory = '2 GB'
        time = '10m'
    }

    withName: CREATE_STAR_INDEX {
        cpus = 8
        memory = '16 GB'
        time = '2h'
    }
	
	withName: FILTER_AND_MERGE_VCF {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }

    withName: CHECK_JAVA {
        cpus = 1
        memory = '1 GB'
        time = '10m'
    }

    withName: DOWNLOAD_SNPEFF_TOOL {
        cpus = 1
        memory = '1 GB'
        time = '30m'
    }

    withName: DOWNLOAD_SNPEFF_DB {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }

    withName: DOWNLOAD_ARRIBA {
        cpus = 1
        memory = '1 GB'
        time = '30m'
    }

    withName: DOWNLOAD_VEP_CACHE {
        cpus = 2
        memory = '8 GB'
        time = '4h'
    }

    withName: DOWNLOAD_CLINVAR {
        cpus = 1
        memory = '4 GB'
        time = '1h'
    }
}
