  
            params.reference_genome = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/genome.fa'
            params.reference_genome_index = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/genome.fa.fai'
			params.reference_genome_dict = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/genome.dict'
			params.gtf_annotation = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/annotations.gtf'
			params.star_genome_index = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/STAR_index'
			params.denylist_bed = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/denylist.bed'
			params.variants_snp = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/variants_snp.vcf.gz'
            params.variants_snp_index = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/variants_snp.vcf.gz.tbi'
			params.variants_indels = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/variants_indels.vcf.gz'
            params.variants_indels_index = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/variants_indels.vcf.gz.tbi'
			params.merged_vcf = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/merged.filtered.recode.vcf.gz'
			params.merged_vcf_index = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/reference/merged.filtered.recode.vcf.gz.tbi'
			params.snpeff_jar = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/Tools/snpEff/snpEff.jar'
            params.snpeff_config = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/Tools/snpEff/snpEff.config'
			params.snpeff_db = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/Tools/snpEff/GRCh38.86'
			params.arriba_tool_dir = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/Tools/ARRIBA/arriba_v2.4.0'
			params.arriba_known_fusions = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/Tools/ARRIBA/arriba_v2.4.0/database/known_fusions_hg38_GRCh38_v2.4.0.tsv.gz'
			params.arriba_blacklist = '/home/kothai/cq-git-sample/vc_and_gf/data/actual/Tools/ARRIBA/arriba_v2.4.0/database/blacklist_hg38_GRCh38_v2.4.0.tsv.gz'
			params.vep_cache_dir = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/test/vep_cache/homo_sapiens/110_GRCh38'
			params.clinvar = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/test/VEP/clinvar.vcf.gz'
            params.clinvartbi = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/test/VEP/clinvar.vcf.gz.tbi'
            